.descriptionBox-light {
    height: 220px;
    width: 370px;
    background-color: white;
    border-radius: 15px;
    padding: 0px 10px;
    margin-bottom: 25px;
}

.descriptionBox-dark {
    height: 220px;
    width: 370px;
    background-color:black;
    color: white;
    border-radius: 15px;
    padding: 0px 10px;
    margin-bottom: 25px;
}